curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/problem+json' --header 'Authorization: Bearer $bearer' -d '{"blockHeight": "$blockheight", "blockId": $blockId, "tx": "$tx"}' 'http://localhost:9000/api/txes'